*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

html{
    font-size: 15px;
    overflow-x: hidden;
    /* overflow: hidden; */
}
.fixed{
    width:80px;
    height:200px;
    position: absolute;
    top:50%;
    right:0;
    position: fixed;
    z-index: 1000;
}

.fixed #top{
    width:100%;
    height:80px;
    background-color: #000;
    color:#fff;
    text-align: center;
    border-radius: 5px 0 0 5px;
}

#top h3{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    padding-top:2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

#top p{
    font-size: 1.2rem;
    font-weight: 100;
}
.fixed #button{
    width:100%;
    height:80px;
    background-color: #9FBB73;
    color:#fff;
    text-align: center;
    border-radius: 5px 0 0 5px;
    margin-top: 1rem;
}

#button .fa{
    font-size: 3rem;
    padding-top: 2rem;
    color:#fff;
}
.container1{
    margin:0 auto;
    margin-top:1.5rem;
    border-radius: 1.5rem;
    width:96%;
}

.my-header{
    background: linear-gradient(90deg, rgba(247,238,238,1) 2%, rgba(234,250,250,1) 61%, rgba(186,226,222,1) 100%, rgba(0,231,197,1) 100%);
    padding:1rem 1rem 0 1rem;
}

.header1{
    max-width: 100%;
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header1 .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 .logo img{
    width:20rem;
}

.mobile-navbar-btn{
    padding:0 1rem;
    display: none;
}

.mobile-nav-icon{
    /* width:8rem;
    height:30px; */
    font-size: 4.8rem;
    color:#226dff;
    padding-top:0.4rem;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
  }

  /* navbar-list start here */

  .my-nav .navbar-list1{
    display: flex;
    list-style: none;
    gap:1.5rem;
    background-color: #fff;
    border-radius: 22px;
    padding: 0.2rem 1.4rem 0.2rem 0.3rem;
  }

  .list-link{
    text-decoration: none;
    display: inline-block;
    padding:1.1rem 2.7rem;
    font-size: 1.7rem;
    border-radius: 25px;
}

.bk{
    background-color: #226DFF;
    color:#fff;
}

.list-link:hover{
    background-color: #226DFF;
    color:#fff;
    text-decoration: none;
}

.call a{
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0 0.5rem;
   }


   /* banner start here */
   /* ...................................... */
   .my-banner .text h6{
        font-weight: 700;
        font-size: 1.6rem;
        margin-bottom: 4rem;
        color:#226DFF;
        margin-top: 12rem;   
    }

    .my-banner h1{
        font-size: 5.9rem;
        font-weight: 700;
        color:#23448B;
        line-height: 6.8rem;
        margin-bottom: 5.8rem;
    }

    .my-banner h1 span{
        color:#226DFF;  
    }

    .text{
        position: relative;
    }

    .my-banner img{
        width: 100%;
        /* animation-name:img;
        animation-duration: 0.5s;
        animation-timing-function:linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards; */
        animation: img 0.6s linear 0s 1 forwards;
    }

    @keyframes img {
        0%{
            transform:translateX(80%)
            /* float:none;
            margin:-100; */
        }

        100%{
            transform:translate(0)
            /* float: right;
            margin-right: -70px;
            /* position: absolute;
            right:0; */ 
        }
        
    }

    #my-botton{
        border-radius: 25px;
        width: 170px;
        background: #fff;
        color: #226DFF;
        margin-left: 3rem;
        border: none;
        font-size: 1.5rem;
        padding: 14px 0;
    }
    #my-botton:hover{
        border:1px solid #23448B;
        background:#fff;
        color:#226DFF;
    }

    #my-botton1{
        border-radius: 55px;
        width: 240px;
        font-size: 1.4rem;
        padding: 14px 0;
    }
   

    /* S3cond part start Here*/
    /* ******************************************* */


    .second-section{
        margin-top:9rem;
    }

    .second-section .img img{
        width:100%;
    }

    .second-section .para{
        float: right;
    }

    .second-section .para p{
        font-size: 3.2rem;
        border: 2px solid #226DFF;
        border-radius: 10px;
        margin-top: 5rem; 
        box-sizing: unset;
    }

    .second-section .para .fa{
        padding: 1.6rem 1.9rem;
        color: #226DFF;
    }

    .second-section .para h3{
        font-size: 2.8rem;
            font-weight: 700;
            line-height: 3.5rem;
            margin: 5rem 0;
            color:#23448B;
    }

    .second-section h2{
        font-size: 2rem;
        padding-top: 0.8rem;
        color:#23448B;
    }

    .second-section hr{
        width: 70px;
        float: left;
        margin-right: 2rem;
        height: 0.1rem;
        border: none;
        background-color: #23448B;
        margin-top: 1.5rem;
    }

    /* Second section end here */


    /* Third Section start here */

    .my{
        padding: 0 1.5rem 4.6rem 1.5rem;
        background: linear-gradient(90deg, rgba(247,238,238,1) 2%, rgba(234,250,250,1) 61%, rgba(186,226,222,1) 100%, rgba(0,231,197,1) 100%);
    }

    .third{
        text-align: center;
    }

    .third h2{
        font-weight: 700;
        font-size: 1.6rem;
        color: #226DFF;
        margin-top: 12rem
    }

    .third h3{
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 3rem;
        color: #23448B;
    }

    .third p{
        color: #23448B;
        font-size: 1.5rem;
        margin-bottom: 2.5rem
    }


    .my-row section{
        width:100%;
        text-align: center;
        border-radius: 23px;
        background-color: #fff;
        margin: 13px 0px;
    }


    .my-row section img{
        width:100%;
        border-radius: 23px 23px 0px 0px
    }

    .my-row section h3{
        font-size: 3rem;
        font-weight: 700;
        margin-top: 3.5rem;
        margin-bottom: 2.2rem;
        color: #23448B;
    }

    .my-row section p{
        color: #23448B;
        font-size: 1.5rem;
    }

    .my-row .mbotton{
        border-radius: 23px;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        width: 120px;
        height: 48px;
        color: #226DFF;
        background: transparent;
        border-color: lightgray;
        font-weight: 700;
    }


    .my-row section .mbotton:hover{
        border:1px solid #23448B;
    }


    /* Third Section End here */


    /* fourth Section Start here */

    .fourth{
        background-image: url(../img/bedoctor-section-bg3.webp);
        background-size: cover;
        background-attachment: fixed;
        width: 96%;
        margin: 0 auto;
        border-radius: 22px;
        margin-top: 2rem;
    }

    .fourth-section{
        padding:7.9rem 1.5rem;
    }

    .fourth-section h3{
        font-size: 5rem;
        font-weight: 600;
        color:#fff;
        padding-bottom: 4rem;
    }

    .fourth-section button{
        border-radius: 23px;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        width: 160px;
        height: 48px;
        background:#226DFF;
        color: #fff;
        font-size: 1.7rem;
        border:none;
    }

    .fourth-section button:hover{
        background-color:#23448B;
    }

    .three-text-section{
        margin-top: 10rem;
    }

    .three-text-section section{
        width:70%;
    }

    .three-text-section section img{
        margin-bottom: 4.2rem;
    }

    .three-text-section section p{
        margin: 0 0 10px;
        font-size: 2rem;
        color: #fff;
        line-height: 3.2rem; 
    }


    /* fourth Section End Here */

    /* Big Two section Start Here */

    .big-two-section{
        /* padding: 0 2rem 0rem 2rem; */
        width:96%;
        margin:0 auto;
        margin-top:4rem; 
        
    }

    .big-two-section section{
        width:100%;
        text-align: center;
        border-radius:22px;
    }

    .big-two-section section img{
        width: 100%;
        border-radius: 22px;
    }

    .big-two-section .bk{
        background: radial-gradient(circle, rgba(240,240,240,1) 7%, rgba(255,255,255,1) 23%, rgba(170,209,255,1) 100%);
        padding: 0 7rem;
        line-height: 2rem;
    }

    .big-two-section .bk img{
        width: 50px;
        background-color:#fff;
        border-radius: 100%;
        padding: 28px;
        margin-top: 9rem;
        box-sizing: unset;
        margin-bottom: 2rem;
    }

    .big-two-section h3{
        font-size: 3.9rem;
        font-weight: 700;
        color:#23448B;
        margin-bottom: 3rem;
    }

    .big-two-section p{
        font-size: 2.2rem;
        color: #23448B;
        padding: 0 11rem 1.9rem;
        line-height: 3.1rem;
    }

    .big-two-section .my-botton{
        margin-bottom: 15rem;
        border-radius: 55px;
        width: 230px;
        height: 52px;
        font-weight: 700;
        background-color: #226DFF;
    }

    /* health plan start here */

    .health-plan{
        background-color: #eff3f7;
        text-align: center;
        padding:6rem 2rem;
        padding: 0 1.5rem 4.6rem 1.5rem;
        margin-top: 8rem;
        
    }

    .health-plan .my-row h3{
        font-weight: 700;
        font-size: 1.6rem;
        color:#226DFF;
        padding-top: 5rem;
    }
    .health-plan .my-row h4{
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 3rem;
        color:#23448B;
    }

    .health-plan .my-row p{
        font-size: 1.6rem;
        color:#23448B;
        padding-bottom: 2.3rem;
    }

    .health-plan .my-another-row section{
        width:100%;
        background-color: #fff;
        border-radius: 22px;
    }
    .health-plan .my-another-row section img{
        padding-top:6rem;
    }

    .health-plan .my-another-row section h2{
        font-weight: 700;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        color:#23448B;
        margin-top: 2rem;
    }

    .health-plan .my-another-row section h3{
        font-size: 3rem;
        font-family: 'Outfit', sans-serif;
        font-weight: 700;
        padding-left: 1rem;
        padding-right: 0.9rem;
        margin-top: 0;
    }

    .health-plan .my-another-row section h3 span{
        font-size: 1rem;

    }

    .health-plan .my-another-row section p{
        font-size: 1.7rem;
        color:#23448B;
    }

    .health-plan .my-another-row section hr{
        max-width:300px;
       margin:0 auto;
    }

    .health-plan .my-another-row section button{
        margin:3rem 0;
        border-radius: 23px;
        width: 120px;
        height: 48px;
        color: #fff;
        background:#226DFF;
        font-weight: 700;
    }
    
    .health-plan #other section{
        background-color: #226DFF;
    }
    .health-plan .my-another-row #other section h2{
        color:#fff;
    }

    .health-plan .my-another-row #other section p{
        color:#fff;
    }

    .health-plan .my-another-row #other section h3{
        color:#fff;
    }

    .health-plan .my-another-row #other span{
        color:#fff;
    }
    .health-plan #other section button{
        background-color: #fff;
        color:#226DFF;
    }
    .health-plan .my-another-row #other section  button:hover{
        border:1px solid #fff;
        background: transparent;
        color:#fff;
    }

    .health-plan .my-another-row #other section hr{
        color:#23448B;
    }
    .health-plan section .dolar{
        width:90px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        color:#23448B;
        margin-bottom: 3rem;
    }

    .health-plan section #other .dolar span{
        margin-top:20px;
        font-size: 2rem;
        
    }

    /* Health Plan End here */

    /* Three Joint Image Start here */

    #option{
        width: 350px;
        height: 90px;
        background-color: #f8f9fa;
        position: absolute;
        top: 55%;
        right: 2rem;;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color:#fff;
    }

    #option .section-one{
        width:30%; 
    }

    #option .section-two{
        width:70%; 
    }

    #option .section-two h3{
        font-family: "Outfit", sans-serif;
        font-size: 3.5rem;
        font-weight: 400;
        color: #226DFF;
        margin-bottom: 0;
        margin-top: 0;
    }

    #option .section-two p{
        color:#23448b;
        margin-bottom: 0;
        padding-bottom: 0;
        
    }

    #option section i{
        font-size: 3rem;
        width:60px;
        height: 60px;
        background-color: #d8bdbd;
        border-radius: 50%;
        padding-left:1.5rem;
        padding-top:1.4rem;
        margin-left: 2rem;
    }

    .ro{
        position: relative;
    }


    .joint-row{
        padding: 11rem 0 0.9rem 1.9rem;
        
    }

    .joint-row img{
        width:90%;
        float: right;
        padding-right: 2rem;
    }
    
.joint{
    margin:0 auto;
    margin-top:1.5rem;
    border-radius: 1.5rem;
    width:96%;
}
    .joint-row .persent{
        width: 150px;
        height: 80px;
        border-style: solid;
        border-image: linear-gradient(89deg,#23448b 0%, #226dff 80%);
        border-image-slice: 1;
        border-image-width: 5px;
        border-radius: 25px;
    }

    .joint-row .persent h3{
        font-size: 5rem;
        font-family: "Outfit", sans-serif;
        margin: 0;
        padding: 1rem 2.6rem;
        font-weight: 600;
        background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
        -webkit-background-clip: text;
        color:transparent;
    }

    .joint-row h4{
        font-size: 4rem;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: 3rem;
        color: #226DFF;
    }
    .joint-row h5{
        font-size: 2rem;
        line-height: 2.8rem;
        color:#23448b;
    }

    .joint-row h2{
        font-weight: 700;
        font-size: 1.6rem;
        color: #23448b;
        margin-bottom: 0;
    }
   .joint-row p{
        color:#226dff;
    }


    /*Three Joint Image End Here*/

    /* Make an Appointment Start Here */

    .book-appointment{
        margin:0 auto;
        margin-top:1.5rem;
        border-radius: 1.5rem;
        width:96%;
        background-image: url(../img/bedoctor-wrap-bg2.webp);
        background-size: cover;
        text-align: center;
        padding: 0 1.5rem 4.6rem 1.5rem;
    }

    .book-appointment img{
        margin:60px 0 40px
    }

    .book-appointment h3{
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 3rem;
        color: #fff;
    }

    .book-appointment button{
        margin-bottom: 5rem;
        border-radius: 55px;
        width: 230px;
        height: 52px;
        font-weight: 700;
        background-color:#fff;
        color:#226DFF;
    }

    .book-appointment span{
        color:lightpink;
    }

    /* Book An Appointment End Here */

    /* Last Past Start Here */

    

    .last{
        padding: 11rem 1.5rem 11rem 1.5rem;
    }

    .last .img{
        text-align: center;
    }

    .last .three-text-section{
        margin-top:2rem;
    }

    .last .three-text-section h3{
        color:#23448b;
        font-size: 2rem;
        line-height: 3rem;
    }

    .last .three-text-section p{
        color:#23448b;
        font-size: 1.7rem;
    }
    .last .three-text-section h5{
        color: #23448b;
        font-size: 2rem;
    }
    .last .three-text-section h4{
        color:#226DFF;
        font-size: 3.5rem;
        font-weight: 600;
        font-family: "Outfit", sans-serif;
        margin: 30px 0 25px;
    }

    .last .three-text-section button{
        border-radius: 23px;
        width: 140px;
        height: 48px;
        color: #fff;
        background: #226DFF;
        font-weight: 700;
    }

    .last .three-text-section a{
        display: block;
        font-size: 1.7rem;
        text-align: right;
        color:#23448b;
    }
    .last .three-text-section i{
        color:#23448b;
    }
    .last .three-text-section .fa{
        margin-right: 1.2rem;
        font-size: 2rem;
        padding-top: 0.9rem;
        border-radius: 100%;
    }

    .last .three-text-section i{
        width:40px;
        height: 40px;
        text-align: center;
        background-color: #e9e7e7;+
    }

    .last .three-text-section .center{
        text-align: center;
    }
    .last .three-text-section a:hover{
        text-decoration: none;
    }   

    /* Footer Start here */

    footer p{
            text-align: center;
            padding:4rem;
            color:#23448b;
            font-size: 1.7rem;
        }

       footer .hover{
            width:500px;
            margin-left: 300px;
            margin-top: 20px;
            position: absolute;
            top:0;
            background-color: #fff;
            padding: 20px 20px;
            border-radius: 22px;
            visibility: hidden;
       }

       footer .hover section{
        display: flex;
        margin-bottom: 10px;
        padding: 10px 11px;
        border-radius: 10px;
        background-color: rgb(237, 239, 240);
       }

       footer .hover section img{
            width: 55%;
            border-radius: 10px;
        }

        footer .hover section h3{
            font-size: 1.5rem;
            margin: 2.2rem 0.8rem;
            font-weight: 600;
        }

        @media only screen and (max-width:700px){
            /* Header Start Here */
            *{
                border:1px solid green;
            }
            .container1{
                border-radius:unset;
                width:96%;
                margin:0 auto;
            }
    
            .my-header{
                padding:4rem 2rem 0 3rem;
                position: relative;
            }
            .header1 .logo img{
                width:14rem;
            }
            .mobile-navbar-btn{
                display: block;
                z-index: 1000;
            }
    
            .my-nav .navbar-list1{
                flex-direction: column;
                align-items: center;
                background: none;
              }
            
              .list-link{
               color:#23448B;
                border-radius:none;
            }
    
            .bk{
                background:none;
                color:#226DFF;
            }
    
            .list-link:hover{
                background: none;
                color:#226DFF;
            }
    
            .my-nav {
                width: 80%;
                height: 100vh;
                background-color: #fff;
                position: absolute;
                top:-40px;
                left:-40px;
                z-index: 999;
                display: flex;
                justify-content: center;
                align-items: center;
            
                transform: translateX(-100%);
                transition: all 0.5s linear;
             
                opacity: 0;
                 visibility: hidden;
                pointer-events: none; 
              }
    
            .active .my-nav{
                visibility: visible;
                opacity: 1;
                transform: translateZ(0);
                pointer-events: auto;
            }
    
           .active .mobile-nav-icon[name="close-outline"] {
                display: block;
                position: absolute;
                top:0;
                left:0;
    
                transition: all 400ms linear 0s;
                font-size: 2.8rem;
                color:gray;
              }
    
              .active .mobile-nav-icon[name="close-outline"]:hover{
                transform: rotate(180deg);
              }
           .active .mobile-nav-icon[name="menu-outline"] {
                display: none;
              }
    
            .call a{
                display: none;
               }
    
               .call .img2{
                width:3.8rem;
                margin-left: 1rem;
               }
               .my-banner{
                padding:0;
               }
               .my-banner .text{
                text-align: center;
               }
    
               .my-banner .text h6{
                font-size: 1.5rem;
                margin-bottom: 1.8rem;
                margin-top: 2rem;
               }
    
               .my-banner .text h1{
                font-size: 3.8rem;
                line-height: 5rem;
                margin-top:0;
                margin-bottom: 2.8rem;
               }
    
               .my-banner button{
                margin-bottom: 2rem;
               }

            }
               /* Second Section Start here */
               .second-section{
                text-align: center;
                padding:0 3rem;
            }
    
            .second-section .img img{
                width:80%;
            }
    
            .second-section .para p{
                text-align: left;
            }
        
            .second-section .para .fa{
               text-align: left;
            }
        
            .second-section .para h3{
                text-align: left;
                line-height: 2.5rem;
                font-weight: 700;
                font-size: 1.7rem;
            }
        
            .second-section h2{
                text-align: left;
                font-size: 1.5rem;
            }

            /* Third Section Start Here */

            .third h2{
                margin-top: 6rem;
                font-size: 1.5rem;
            }
    
            .third h3{
                font-size: 2.5rem;
    
            .third p{
                font-size: 1.2rem;
            }
            #padd{
                width:90%;
                margin:0 auto;
                padding:0 4rem;
                border-radius: 1.5rem;
                margin-bottom: 2rem;
                margin-top:6rem;
            }
    
            #padd section{
                margin-bottom: 2rem;
            }

            /* Fourth Section Start Here */

            .fourth{
                width:90%;
                margin:0 auto;
                padding:0 4rem;
                border-radius: 1.5rem;
                margin-bottom: 2rem;
                background-size: cover;
                background-position: center;
            }
            .fourth-section{
                padding:4rem 1.5rem;
            }
        
            .fourth-section h3{
                font-size: 4rem;
                font-weight: 600;
                color:#fff;
                padding-bottom: 2rem;
            }
        
            .fourth-section button{
                border-radius: 23px;
                margin-top: 1.5rem;
                margin-bottom: 0rem;
                width: 160px;
                height: 48px;
                background:#226DFF;
                color: #fff;
                font-size: 1.7rem;
                border:none;
            }
        
            .fourth-section button:hover{
                background-color:#23448B;
            }
        
            .three-text-section{
                margin-top: 10rem;
            }
        
            .three-text-section section{
                padding-bottom: 2rem;
                width:100%;
            }
        
            .three-text-section section img{
                margin-bottom: 1rem;
                padding-bottom: 1rem;
            }
        
            .three-text-section section p{
                margin: 0 0 0px;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.5rem;
            }

            /* Big Two Section start here */

            .big-two-section #row {
                margin:0;
            }
            .big-two-section{
                padding:2rem 1.5rem;
            }
            .big-two-section .col-lg-6 .bk{
                padding:0 2.2rem;
            }
    
            .big-two-section section{
                margin-bottom: 4rem;
            }
    
            .big-two-section .bk img{
                margin-top:2.5rem;
            }
    
            .big-two-section h3{
                font-size: 3rem;
            }
    
            .big-two-section p{
                font-size: 1.7rem;
            }

            /* Health Plan start Here */
            .health-plan{
                width:90%;
                margin:0 auto;
                padding: 0 3rem 4.6rem 3rem;
                border-radius: 25px;
            }
        
            .health-plan .my-row h3{
                font-weight: 700;
                font-size: 1.3rem;
                padding-top: 3rem;
            }
            .health-plan .my-row h4{
                font-size: 4rem;
                font-weight: 700;
                margin-bottom: 3rem;
                color:#23448B;
            }
        
            .health-plan .my-row p{
                font-size: 1.3rem;
                padding-bottom: 1rem;
            }
        
            .health-plan .my-another-row section{
                width:100%;
                background-color: #fff;
                border-radius: 22px;
                margin-bottom: 2rem;
            }
           
        
            .health-plan .my-another-row section h2{
                font-weight: 700;
                font-size: 1.4rem;
                margin-bottom: 2rem;
                color:#23448B;
                margin-top: 2rem;
            }
        
            .health-plan .my-another-row section h3{
                font-size: 4rem;
                font-family: 'Outfit', sans-serif;
                font-weight: 700;
                padding-left: 1rem;
                padding-right: 0.9rem;
            }
        
            .health-plan .my-another-row section p{
                font-size: 1.4rem;
                color:#23448B;
            }
        
            .health-plan .my-another-row section hr{
                max-width:280px;
               margin:0 auto;
               padding: 0.5rem 0;
            }
        
            .health-plan .my-another-row section button{
                margin:4rem 0 8rem 0;
                color: #fff;
                background:#226DFF;
                font-weight: 700;
            }
            
            .health-plan .my-another-row #other section h2{
                color:#fff;
            }
            .health-plan .my-another-row #other section p{
                color:#fff;
            }
    
            .health-plan .my-another-row #other section h3{
                color:#fff;
            }
    
            .health-plan .my-another-row #other section span{
                color:#fff;
            }
    
            .health-plan .my-another-row #other section button:hover{
                color:#fff;
                background-color: transparent;
            }
            
            .health-plan section .dolar span {
                margin-top: 20px;
                font-size: 1.9rem;
                color:#23448b
            }

            /* Three Joint image start Here */
            /* *{
                border: 1px solid green;
            } */
            #option{
                width: 100%;
                height: 100px;
                top: 70%;
                right: 0;
                box-shadow: 12px 5px 15px 1px rgb(204, 199, 199);

            }
            #option .section-two h3{
                text-align: start;
            }
            .joint-row{
                text-align: center;
                padding: 0 2rem;
            }
            .joint-row img{
                width: 100%;
                padding-left: 2rem;
                float:none;
            }

            #option section i {
                padding-right: 1.1rem;
            }

            #option .section-one {
                width:0;
                float:left
            }
    
            .joint-row h4{
                text-align: left;
            }
            .joint-row h2{
                text-align: left;
                padding-top:2rem;
            }
    
            .joint-row p{
                text-align: left;
                padding-bottom: 3rem;
            }
            .joint-row h5{
                text-align: left;
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
            /* Book An Appointment */
            .book-appointment{
                padding:0 4rem;
                margin-top: 6rem;
                width:90%;
            }
            .book-appointment h3{
                font-size: 3rem;
                line-height: 3.5rem;
            }
            /* Last Here  */
            .last{
                text-align: center;
                padding-top: 4.5rem;
                padding-bottom: 1rem;
            }
    
            .last img{
                width:50px;
                color:#226DFF;
            }
    
            .last .three-text-section h3{
                font-size: 1.8rem;
                text-align: center;
                padding-top: 2rem;
                padding-bottom: 1.1rem;
            }
    
            .last .three-text-section p{
                font-size: 1.5rem;
            }
            .last .three-text-section .fa{
                margin: 2.5rem 1.2rem 5rem 0;
                font-size: 1.5rem;
                padding-top: 1.2rem;
                border-radius: 100%;
            }
    
           .last .three-text-section h5{
                font-size: 1.7rem;
            }
            .last .three-text-section h4{
                margin:2rem 0 2.5rem 0;
            }
    
            .last .three-text-section a{
                text-align: center;
                padding-top: 0.6rem;
                font-size: 1.7rem;
            }

            /* Footer Start Here */
            footer p{
                font-size:1.4rem;
                padding-top:0rem;
            }
           .joint .row {
                margin:0;
            }
        }



        /* media query */

        