.book-appointment{
    // @include banner();
    margin:0 auto;
    margin-top:1.5rem;
    border-radius: 1.5rem;
    width:96%;
    background-image: url(../img/bedoctor-wrap-bg2.webp);
    background-size: cover;
    text-align: center;

    img{
        margin:60px 0 40px;
    }

    h3{
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 3rem;
        color: $whiteColor;
    }

    button{
        @include button();
        background-color:$whiteColor;
        color:$mycolor;
    }
}
