.my{
    padding: 0 1.5rem 4.6rem 1.5rem;
}
.third{
    text-align: center;

    h2{
        font-weight: 700;
        font-size: 1.6rem;
        color: $mycolor;
        margin-top: 12rem
    }

    h3{
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 3rem;
        color: $anotherColor;
    }

    p{
        color: $anotherColor;
        font-size: 1.5rem;
        margin-bottom: 2.5rem
    }
        
    }


   .my-row section{
        width:100%;
        text-align: center;
        border-radius: 23px;
        background-color: $whiteColor;
        margin: 13px 0px;

        img{
            width:100%;
            border-radius: 23px 23px 0px 0px
        }

        h3{
            font-size: 3rem;
            font-weight: 700;
            margin-top: 3.5rem;
            margin-bottom: 2.2rem;
            color: $anotherColor;
        }

        p{
            color: $anotherColor;
            font-size: 1.5rem;
        }

        .mbotton{
            border-radius: 23px;
            margin-top: 1.5rem;
            margin-bottom: 3rem;
            width: 120px;
            height: 48px;
            color: $mycolor;
            background: transparent;
            border-color: lightgray;
            font-weight: 700;
        }

        .mbotton:hover{
            border:1px solid $anotherColor;
        }
    }
