.joint-row{
    padding: 11rem 0 0.9rem 1.9rem;

    .persent{
       width: 150px;
       height: 80px;
       border-style: solid;
       border-image: linear-gradient(89deg,#23448b 0%, #226dff 80%);
       border-image-slice: 1;
       border-image-width: 5px;
      

        h3{
            font-size: 5rem;
            font-family: "Outfit", sans-serif;
            margin: 0;
            padding: 1rem 2.6rem;
            font-weight: 600;
            background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
            -webkit-background-clip: text;
            color:transparent;
        }
    }
    h4{
        font-size: 4rem;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: 3rem;
        color: $anotherColor;
    }
    h5{
        font-size: 2rem;
        line-height: 2.8rem;
        color:$anotherColor;
    }

    h2{
        font-weight: 700;
        font-size: 1.6rem;
        color: $anotherColor;
        margin-bottom: 0;
    }
    p{
        color:$mycolor;
    }
}


