body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    // font-family: 'Poppins', sans-serif;
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden;
}
//  *{
//     border: 1px solid black;
//  }
html{
    font-size: 15px;
    overflow-x: hidden;
}
$mycolor:#226DFF;
$anotherColor:#23448B;
$whiteColor:#fff;

@mixin banner{
    margin:0 auto;
    margin-top:1.5rem;
    border-radius: 1.5rem;
    width:96%;
}


@mixin button{
        margin-bottom: 5rem;
        border-radius: 55px;
        width: 230px;
        height: 52px;
        font-weight: 700;
}

@mixin my-big-botton{
    border-radius: 55px;
    width: 240px;
    font-size: 1.4rem;
    padding: 14px 0;
}

@import"header";
@import"second";
@import"third";
@import"fourth";
@import"bigTwoSection";
@import"health";
@import"threeJointImg";
@import"bookAnAppoinment";

// *{
//     border:1px solid red;
// }
.last{
    padding: 11rem 1.5rem 11rem 1.5rem;

    .img{
        text-align: center;
    }

    .three-section{
        margin-top: 2rem;

        h3{
            color:$anotherColor;
            font-size: 2rem;
            line-height: 3rem;
        }

        p{
            color:$anotherColor;
            font-size: 1.7rem;
        }
        h5{
            color: $anotherColor;
            font-size: 2rem;
        }
        h4{
            color:$mycolor;
            font-size: 3.5rem;
            font-weight: 600;
            font-family: "Outfit", sans-serif;
            margin: 30px 0 25px;
        }

        button{
            border-radius: 23px;
            width: 120px;
            height: 48px;
            color: #fff;
            background: #226DFF;
            font-weight: 700;
        }

        a{
            display: block;
            font-size: 1.7rem;
            text-align: right;
            color:$anotherColor;
        }
        i{
            color:$anotherColor;
        }
        .fa{
            margin-right: 2rem;
            font-size: 2rem;
            background-color: #dbdbdb;
            padding: 15px;
            border-radius: 50%;
        
        }
    }
}

.center{
    text-align: center;
}

footer{
    p{
        text-align: center;
        padding:4rem;
        color:$anotherColor;
        font-size: 1.7rem;

    }
}

.hover{
    width:500px;
    margin-left: 300px;
    margin-top: 20px;
    position: absolute;
    top:0;
    background-color: $whiteColor;
    padding: 20px 20px;
    border-radius: 22px;
     visibility: hidden;

    section{
        display: flex;
        margin-bottom: 10px;
        padding: 10px 11px;
        border-radius: 10px;
        background-color: rgb(237, 239, 240);

        img{
            width: 55%;
            border-radius: 10px;
        }

        h3{
            font-size: 1.5rem;
            margin: 2.2rem 0.8rem;
            font-weight: 600;
        }
    }

}

.service:hover{
    visibility: visible;
}




.fixed{
    width:80px;
    height:170px;
    position: absolute;
    top:60%;
    right: 0;
    position: fixed;
    z-index: 10;


    div{
        width: 100%;
        height: 48%;
        border-radius: 10px 0 0 10px;
        font-family: 'IBM Plex Sans', sans-serif;
    }
    #top{
        margin-bottom: 8%;
        color:$whiteColor;
        text-align: center;
        padding:20px 0;
        background-color: black;

        h3{
            font-size: 2.4rem;
            margin:0;
            padding:0;
            font-weight: 400;
        }

        p{
            font-weight: 200;
            font-family: 'Poppins', sans-serif;
        }
    }
    #button{
        text-align: center;
        background-color: #80b541;
       .fa{
            font-size: 3.5rem;
            margin-top: 10px;
        }
        p{
            color:$whiteColor;
        }
    }
}



// @media only screen and (max-width:1000px)
// @media only screen and (max-width:1230px){
//     #i img{
//         width:200px;
//     }
//     .my-header{
//         background-color: yellow;
//     }

//     .ul ul{
//         display:none;
//     }

//     .my-header .navigation .r{
//         display: inline-block;
//     }

//     *{
//         border:2px solid green;
//     }
// }
// @media only screen and 
