body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 15px;
  overflow-x: hidden;
}

.my-header {
  margin: 0 auto;
  margin-top: 1.5rem;
  border-radius: 1.5rem;
  width: 96%;
  background: linear-gradient(90deg, rgb(247, 238, 238) 2%, rgb(234, 250, 250) 61%, rgb(186, 226, 222) 100%, rgb(0, 231, 197) 100%);
  padding: 1rem 1rem 0 1rem;
}
.my-header .header1 {
  max-width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.my-header .header1 .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-header .header1 .logo img {
  width: 20rem;
}
.my-header .header1 .logo .mobile-navbar-btn {
  padding: 0 1rem;
  display: none;
}
.my-header .header1 .logo .mobile-navbar-btn .mobile-nav-icon {
  width: 30px;
  height: 30px;
}
.my-header .header1 .my-nav .navbar-list1 {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  background-color: #fff;
  border-radius: 22px;
  padding: 0.2rem 1.4rem 0.2rem 0.3rem;
}
.my-header .header1 .my-nav .navbar-list1 .list-link {
  text-decoration: none;
  display: inline-block;
  padding: 1.1rem 1.8rem;
  font-size: 1.7rem;
  border-radius: 25px;
}
.my-header .header1 .my-nav .navbar-list1 .bk {
  background-color: #226DFF;
  color: #fff;
}
.my-header .header1 .my-nav .navbar-list1 .list-link:hover {
  background-color: #226DFF;
  color: #fff;
}
.my-header .header1 .call a {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 0.5rem;
}
.my-header .mobile-nav-icon[name=close-outline] {
  display: none;
}
@media only screen and (max-width: 90rem) {
  .my-header .my-header {
    padding: 1rem 3rem;
  }
  .my-header .header1 {
    position: relative;
  }
  .my-header .logo img {
    max-width: 15rem;
  }
  .my-header .my-header .header1 .logo .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }
  .my-header .my-nav {
    width: 50%;
    height: 100vh;
    background: #e7f5ff;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* to get the tranisition  */
    transform: translateX(-100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
  }
  .my-header .my-header .header1 .my-nav .navbar-list1 {
    align-items: center;
    flex-direction: column;
    background: none;
    border-radius: none;
    padding: none;
  }
  .my-header .my-header .header1 .my-nav .navbar-list1 .bk {
    background: transparent;
    color: #226DFF;
  }
  .my-header .list-link {
    padding: none;
    font-size: 1.7rem;
    border-radius: none;
  }
  .my-header .active .my-nav {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .my-header .active .mobile-nav-icon[name=close-outline] {
    display: block;
  }
  .my-header .active .mobile-nav-icon[name=menu-outline] {
    display: none;
  }
}

.second-section {
  margin-top: 9rem;
}
.second-section .img {
  padding: 1rem;
}
.second-section .img img {
  width: 400px;
}
.second-section .para {
  float: right;
}
.second-section .para p {
  font-size: 3.2rem;
  border: 2px solid #226DFF;
  border-radius: 10px;
  margin-top: 5rem;
}
.second-section .para .fa {
  padding: 1.6rem 1.9rem;
  color: #226DFF;
}
.second-section .para h3 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin: 5rem 0;
  color: #23448B;
}
.second-section .para h2 {
  font-size: 2rem;
  padding-top: 0.8rem;
  color: #23448B;
}
.second-section .para hr {
  width: 80px;
  float: left;
  margin-right: 2rem;
}

.my {
  padding: 0 1.5rem 4.6rem 1.5rem;
}

.third {
  text-align: center;
}
.third h2 {
  font-weight: 700;
  font-size: 1.6rem;
  color: #226DFF;
  margin-top: 12rem;
}
.third h3 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #23448B;
}
.third p {
  color: #23448B;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.my-row section {
  width: 100%;
  text-align: center;
  border-radius: 23px;
  background-color: #fff;
  margin: 13px 0px;
}
.my-row section img {
  width: 100%;
  border-radius: 23px 23px 0px 0px;
}
.my-row section h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 3.5rem;
  margin-bottom: 2.2rem;
  color: #23448B;
}
.my-row section p {
  color: #23448B;
  font-size: 1.5rem;
}
.my-row section .mbotton {
  border-radius: 23px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  width: 120px;
  height: 48px;
  color: #226DFF;
  background: transparent;
  border-color: lightgray;
  font-weight: 700;
}
.my-row section .mbotton:hover {
  border: 1px solid #23448B;
}

.fourth {
  background-image: url(../img/bedoctor-section-bg3.webp);
  background-size: cover;
  background-attachment: fixed;
}
.fourth .fourth-section {
  padding: 7.9rem 1.5rem;
}
.fourth .fourth-section h3 {
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  padding-bottom: 4rem;
}
.fourth .fourth-section button {
  border-radius: 23px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  width: 160px;
  height: 48px;
  background: #226DFF;
  color: #fff;
  font-size: 1.7rem;
  border: none;
}
.fourth .fourth-section button:hover {
  background-color: #23448B;
}

.three-text-section {
  margin-top: 10rem;
}
.three-text-section section {
  width: 70%;
}
.three-text-section section img {
  margin-bottom: 4.2rem;
}
.three-text-section section p {
  margin: 0 0 10px;
  font-size: 2rem;
  color: #fff;
  line-height: 3.2rem;
}

.big-two-section {
  margin: 0 auto;
  margin-top: 1.5rem;
  border-radius: 1.5rem;
  width: 96%;
  margin-top: 6rem;
}
.big-two-section section {
  width: 100%;
  text-align: center;
  border-radius: 22px;
}
.big-two-section section img {
  width: 100%;
  border-radius: 22px;
}
.big-two-section .bk {
  background: radial-gradient(circle, rgb(240, 240, 240) 7%, rgb(255, 255, 255) 23%, rgb(170, 209, 255) 100%);
}
.big-two-section .bk img {
  width: 50px;
  background-color: #fff;
  border-radius: 100%;
  padding: 28px;
  margin-top: 9rem;
  box-sizing: unset;
  margin-bottom: 2rem;
}
.big-two-section .bk h3 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #23448B;
  margin-bottom: 3rem;
}
.big-two-section .bk p {
  font-size: 2rem;
  color: #23448B;
}
.big-two-section .bk .my-botton {
  margin-bottom: 5rem;
  border-radius: 55px;
  width: 230px;
  height: 52px;
  font-weight: 700;
  margin-top: 3.5rem;
  margin-bottom: 15rem;
}

.health-plan {
  margin: 0 auto;
  margin-top: 1.5rem;
  border-radius: 1.5rem;
  width: 96%;
  background-color: #eff3f7;
  text-align: center;
  padding: 6rem 2rem;
}
.health-plan .my-row h3 {
  font-weight: 700;
  font-size: 1.6rem;
  color: #226DFF;
}
.health-plan .my-row h4 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #23448B;
}
.health-plan .my-row p {
  font-size: 1.6rem;
  color: #23448B;
}

.my-another-row section {
  width: 100%;
  background-color: #fff;
  border-radius: 22px;
}
.my-another-row section img {
  padding-top: 6rem;
}
.my-another-row section h2 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: #23448B;
  margin-top: 2rem;
}
.my-another-row section h3 {
  font-size: 4rem;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}
.my-another-row section h3 span {
  font-size: 1rem;
}
.my-another-row section p {
  font-size: 1.7rem;
  color: #23448B;
}
.my-another-row section hr {
  max-width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-another-row section button {
  margin: 3rem 0;
  border-radius: 23px;
  width: 120px;
  height: 48px;
  color: #fff;
  background: #226DFF;
  font-weight: 700;
}

.other section {
  background: #226DFF;
  color: #fff;
}
.other section h2, .other section h3, .other section p, .other section span {
  color: #fff;
}
.other section button {
  background-color: #fff;
  color: #226DFF;
}
.other section button:hover {
  border: 1px solid #fff;
  background: transparent;
}

.dolar {
  width: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #23448B;
  margin-bottom: 3rem;
}
.dolar span {
  margin-top: 20px;
  font-size: 2rem;
}

.joint-row {
  padding: 11rem 0 0.9rem 1.9rem;
}
.joint-row .persent {
  width: 150px;
  height: 80px;
  border-style: solid;
  -o-border-image: linear-gradient(89deg, #23448b 0%, #226dff 80%);
     border-image: linear-gradient(89deg, #23448b 0%, #226dff 80%);
  border-image-slice: 1;
  border-image-width: 5px;
}
.joint-row .persent h3 {
  font-size: 5rem;
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 1rem 2.6rem;
  font-weight: 600;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.joint-row h4 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #23448B;
}
.joint-row h5 {
  font-size: 2rem;
  line-height: 2.8rem;
  color: #23448B;
}
.joint-row h2 {
  font-weight: 700;
  font-size: 1.6rem;
  color: #23448B;
  margin-bottom: 0;
}
.joint-row p {
  color: #226DFF;
}

.book-appointment {
  margin: 0 auto;
  margin-top: 1.5rem;
  border-radius: 1.5rem;
  width: 96%;
  background-image: url(../img/bedoctor-wrap-bg2.webp);
  background-size: cover;
  text-align: center;
}
.book-appointment img {
  margin: 60px 0 40px;
}
.book-appointment h3 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #fff;
}
.book-appointment button {
  margin-bottom: 5rem;
  border-radius: 55px;
  width: 230px;
  height: 52px;
  font-weight: 700;
  background-color: #fff;
  color: #226DFF;
}

.last {
  padding: 11rem 1.5rem 11rem 1.5rem;
}
.last .img {
  text-align: center;
}
.last .three-section {
  margin-top: 2rem;
}
.last .three-section h3 {
  color: #23448B;
  font-size: 2rem;
  line-height: 3rem;
}
.last .three-section p {
  color: #23448B;
  font-size: 1.7rem;
}
.last .three-section h5 {
  color: #23448B;
  font-size: 2rem;
}
.last .three-section h4 {
  color: #226DFF;
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  margin: 30px 0 25px;
}
.last .three-section button {
  border-radius: 23px;
  width: 120px;
  height: 48px;
  color: #fff;
  background: #226DFF;
  font-weight: 700;
}
.last .three-section a {
  display: block;
  font-size: 1.7rem;
  text-align: right;
  color: #23448B;
}
.last .three-section i {
  color: #23448B;
}
.last .three-section .fa {
  margin-right: 2rem;
  font-size: 2rem;
  background-color: #dbdbdb;
  padding: 15px;
  border-radius: 50%;
}

.center {
  text-align: center;
}

footer p {
  text-align: center;
  padding: 4rem;
  color: #23448B;
  font-size: 1.7rem;
}

.hover {
  width: 500px;
  margin-left: 300px;
  margin-top: 20px;
  position: absolute;
  top: 0;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 22px;
  visibility: hidden;
}
.hover section {
  display: flex;
  margin-bottom: 10px;
  padding: 10px 11px;
  border-radius: 10px;
  background-color: rgb(237, 239, 240);
}
.hover section img {
  width: 55%;
  border-radius: 10px;
}
.hover section h3 {
  font-size: 1.5rem;
  margin: 2.2rem 0.8rem;
  font-weight: 600;
}

.service:hover {
  visibility: visible;
}

.fixed {
  width: 80px;
  height: 170px;
  position: absolute;
  top: 60%;
  right: 0;
  position: fixed;
  z-index: 10;
}
.fixed div {
  width: 100%;
  height: 48%;
  border-radius: 10px 0 0 10px;
  font-family: "IBM Plex Sans", sans-serif;
}
.fixed #top {
  margin-bottom: 8%;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  background-color: black;
}
.fixed #top h3 {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.fixed #top p {
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
.fixed #button {
  text-align: center;
  background-color: #80b541;
}
.fixed #button .fa {
  font-size: 3.5rem;
  margin-top: 10px;
}
.fixed #button p {
  color: #fff;
}/*# sourceMappingURL=style.css.map */